{% extends "base.html" %}

{% block content %}
<h2>Reset Your Password</h2>

<div class='container'>
    <form method="post" class='col-md-4'>        
        {% csrf_token %}
        <h2>Reset Your Password</h2>
        
        <div class="row-md-2">
            <input type="password" class="form-control mb-2" name="new_password1" placeholder="Password">                
        </div>
        <div class="row-md-2">
            <input type="password" class="form-control mb-4" name="new_password2" placeholder="Confirm password"> 
        </div>        
        <div class="row-md-2">                       
            <div class="d-flex justify-content-between"> 
                <button class="btn btn-success" type="submit">Reset password</button>
                <a class="btn btn-warning w-40 py-1" href="{% url 'login' %}" style="font-size: 20px; text-align: right;"> &nbsp&nbsp&nbsp&nbsp&nbspCancel&nbsp&nbsp&nbsp</a>  
            </div>           
        </div>
    </form>
</div>


{% endblock %}
