{% extends "base.html" %}
{% load humanize %}
{% block title %} delete order {% endblock %}
{% block content %} 
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Confirm to Delete</h2>
                    <p class="card-text">Are you sure you want to delete order with following details?</p>
                        <table class="table table-bordered table-striped">
                            <tr> 
                                <th> Article</th>
                                <td> {{ order_to_delete.products.name }}</td>
                            </tr>
                            <tr> 
                                <th> Color</th>
                                <td> {{ order_to_delete.color }}</td>
                            </tr>
                            <tr> 
                                <th> Size</th>
                                <td> {{ order_to_delete.size }}</td>
                            </tr>
                            <tr> 
                                <th> Quantity </th>
                                <td> {{ order_to_delete.order_quantity }}</td>
                            </tr>
                            <tr> 
                                <th> Price </th>
                                <td> {{ order_to_delete.price|intcomma }}</td>
                            </tr>
                            <tr> 
                                <th> for total </th>
                                <td> {{ order_to_delete.subtotal|intcomma }}</td>
                            </tr>
                        </table>
                        
                    <img src="{{ order_to_delete.products.image.url }}" height='300px'>
                    <form method="post">
                        {% csrf_token %} 
                        <button type="submit" class="btn btn-danger">Delete order</button>
                        <a href="{% url 'basket' user_pk=request.user.id %}" class="btn btn-secondary">Cancel</a>
                    </form>                   
                </div>
            </div>
        </div>
    </div>
</div>  
{% endblock %}