{% extends "base.html" %}

{% block title %} home {% endblock %}
{% block content %} 
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Confirm to Delete</h2>
                    <p class="card-text">Are you sure you want to delete {{ request.user }}?</p>                    
                    <form method="post">
                        {% csrf_token %} 
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <a href="{% url 'users' %}" class="btn btn-secondary">Cancel</a>
                    </form>                   
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}