{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %} catalague {% endblock %}
{% block content %} 
<h1 class="other_home"> You are absolutely free to select what you want! </h1>

<div>
    <div class="container">
        <div class="row">
            {% for each in catalague %}    
            <div class="col-md-3">
                <div class="item">
                    <a href="{% url 'detail' each.pk %}"> <img style="height: 400px;" src="{{ each.image.profile.url }}" alt="{{ each.name }}"> </a> <br><br>
                    <p><strong>Articule: {{ each.name }}</strong></p>             
                    <p>Textile: {{ each.textile }}</p>
                    <p>Price: {{ each.price|thousands_with_spaces }} KZT</p> <br>
                </div>
            </div>
            {% endfor %}
        </div>   
    </div>    
</div>

{% endblock %}

