{% extends "base.html" %}

{% block title %} update catalague {% endblock %}
{% block content %} 
<div class="row">
    <div class="col-md-5">
        <img src="{{ object.image.url }}" class="img-fluid"> 
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table> 
            {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-success">Update catalague</button>       
    </form> 
    </div>
</div>
{% endblock %}